@font-face {
    font-family: "Rubik Regular";
    src: url("fonts/Rubik-Regular.ttf");
    -fx-font-style: normal;
}
@font-face {
    font-family: "Rubik Medium";
    src: url("fonts/Rubik-Medium.ttf");
    -fx-font-style: normal;
}
@font-face {
    font-family: "Rubik Bold";
    src: url("fonts/Rubik-Bold.ttf");
    -fx-font-style: normal;
}
@font-face {
    font-family: "Rubik Black";
    src: url("fonts/Rubik-Black.ttf");
    -fx-font-style: normal;
}

.root {
    -fx-background-image: url("img/bg_blank.jpg");
    -fx-background-size: 100%;
    -fx-background-position: center;
    -fx-font-family: "Rubik";
    -fx-font-size: 27px;
    -fx-font-weight: 400;
}

/* Basic Buttons */
.mainMenuButton {
    -fx-font-size: 1.6em;
    -fx-border-width: 5px;
    -fx-border-style: solid;
    -fx-border-color: rgba(0,0,0,0);
    -fx-background-color: none;
    -fx-font-family: "Rubik Medium";
    -fx-text-fill: rgba(0,0,64,255);
    -fx-padding: 0px;
    -fx-margin: 0px;
}
.backButton {
    -fx-font-size: 1em;
    -fx-border-width: 5px;
    -fx-border-style: solid;
    -fx-border-color: rgba(0,0,0,0);
    -fx-background-color: none;
    -fx-font-family: "Rubik Bold";
    -fx-text-fill: rgba(0,0,64,255);
    -fx-padding: 0px;
    -fx-margin: 0px;
}
.mainMenuButton:hover,
.backButton:hover,
#Credits:hover {
    -fx-background-image: url("img/ship_4a.png");
    -fx-background-color: none;
    -fx-background-position: center;
    -fx-background-size: auto 100%;
    -fx-background-repeat: no-repeat;
}
#Credits {
    -fx-font-size: 1em;
    -fx-border-width: 5px;
    -fx-border-style: solid;
    -fx-border-color: rgba(0,0,0,0);
    -fx-background-color: none;
    -fx-font-family: "Rubik Bold";
    -fx-text-fill: rgba(0,0,64,255);
    -fx-padding: 0px;
    -fx-margin: 0px;
    -fx-alignment: center-right;
}

/* Sound Settings stuff */
.soundSettings {
    -fx-alignment: center-left;
}
.soundSettings .label {
    -fx-font-size: 1em;
    -fx-font-family: "Rubik Medium";
    -fx-text-fill: rgba(0,0,64,255);
}
.soundSettings .volumeButton {
    -fx-background-image: url("img/sound_on.png");
    -fx-background-color: none;
    -fx-background-position: center;
    -fx-background-size: 100%;
    -fx-background-repeat: no-repeat;
}
.soundSettings .volumeButton:hover {
    -fx-background-image: url("img/sound_off.png");
}
.soundSettings .slider .track {
    -fx-border-width: 2px 0px;
    -fx-border-style: solid;
    -fx-border-color: rgba(0,0,64,255);
    -fx-background-color: rgba(0,0,0,0);
    -fx-pref-height: 12px;
}
.soundSettings .slider .thumb {
    -fx-background-image: url("img/sound_mid.png");
    -fx-background-color: none;
    -fx-background-position: center;
    -fx-background-size: auto 100%;
    -fx-background-repeat: no-repeat;
    -fx-pref-height: 32px;
}

#Image1Back,
#Image2Back {
    -fx-background-image: url("img/arrow_left.png");
    -fx-background-color: none;
    -fx-background-position: center;
    -fx-background-size: 100%;
    -fx-background-repeat: no-repeat;
}
#Image1Forward,
#Image2Forward {
    -fx-background-image: url("img/arrow_right.png");
    -fx-background-color: none;
    -fx-background-position: center;
    -fx-background-size: 100%;
    -fx-background-repeat: no-repeat;
}

.standardText {
    -fx-font-size: 1em;
    -fx-font-family: "Rubik Medium";
    -fx-text-fill: rgba(0,0,64,255);
}
.standardTextInput {
    -fx-font-size: 1.6em;
    -fx-font-family: "Rubik Medium";
    -fx-text-fill: rgba(0,0,64,255);
    -fx-prompt-text-fill: rgba(160,160,180,255);
    -fx-background-color: none;
    -fx-border-width: 5px;
    -fx-border-style: solid;
    -fx-border-color: rgba(0,0,64,255);
}

.standardCheckbox {
    -fx-font-size: 1em;
    -fx-font-family: "Rubik Regular";
    -fx-text-fill: rgba(0,0,64,255);
}
.standardCheckbox .box {
    -fx-background-image: url("img/check_false.png");
    -fx-background-color: none;
    -fx-background-position: center;
    -fx-background-size: 100%;
    -fx-background-repeat: no-repeat;
    -fx-pref-height: 48px;
    -fx-pref-width: 48px;
}
.standardCheckbox .mark {
    visibility: hidden;
}
.standardCheckbox:selected .box {
    -fx-background-image: url("img/check_true.png");
}

.gameCellButton,
.placementCellButton {

}